/**
 *  Set up the administration styles.
 */
:root {
   
   --fuse-admin-colour-light-grey: #F3F3F3;
   --fuse-admin-colour-grey: #999999;
   --fuse-admin-colour-red: #CC0000;
   --fuse-admin-colour-green: #00CC00;
   --fuse-admin-colour-blue: #0000CC;
   
}

/*  **********  Layouts  **********  */

.layout-parts-table {
    width: 100%;
    border-collapse: collapse;
}
.layout-parts-table tr {
    vertical-align: top;
}
.layout-parts-table td {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #CCD0D4;
    background: #FFFFFF;
}
.layout-parts-table td.show {
    background: rgba(0, 255, 0, 0.2);
}




/*  **********  Shared Common Styles  **********  */

.admin-grey,
.admin-light {
    color: var(--fuse-admin-colour-grey);
}
.admin-red {
    color: var(--fuse-admin-colour-red);
}
.admin-green {
    color: var(--fuse-admin-colour-green);
}
.admin-blue {
    color: var(--fuse-admin-colour-blue);
}

.admin-bold {
    font-weight: bold;
}
.admin-italic {
    font-style: italic;
}

.admin-left {
   text-align: left
}
.admin-right {
   text-align: right;
}
.admin-center {
   text-align: center;
}




/*  **********  Custom Dashicons  **********  */

@font-face {
    font-family: 'fusecms';
    src: url('../fonts/fusecms.eot');
    src: url('../fonts/fusecms.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fusecms.woff') format('woff'),
         url('../fonts/fusecms.ttf') format('truetype'),
         url('../fonts/fusecms.svg#fusecms') format('svg');
    font-weight: normal;
    font-style: normal;
}
.dashicons-fusecms:before {
	display: inline-block;
   font-family: 'fusecms';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.dashicons-fusecms:before {
    content:'\0041';
}




/*  **********  Sortable tables  ********** */

table.fuse-post-type-table tr {
   cursor: ns-resize;
}




/*  **********  Post type admin tables  *********  */

.fuse-post-type-table th.fuse-post-type-table-column-item,
.fuse-post-type-table td.fuse-post-type-table-column-item {
   
}
.fuse-post-type-table th.fuse-post-type-table-column-delete,
.fuse-post-type-table td.fuse-post-type-table-column-delete {
   width: 20px;
   text-align: center;
}
.fuse-post-type-table td.fuse-post-type-table-column-delete .dashicons {
   color: var(--fuse-admin-colour-red);
   cursor: pointer;
}