/*  **********  Add in our editor styles for the Gutenberg editor  **********  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wp-block {
    border: 1px dotted #999999;
    position: relative;
    padding: 5px;
}
.wp-block::after,
.block-editor-block-list__layout .block-editor-block-list__block::after {
    position: absolute;
    top: -14px;
    right: 0;
    left: auto;
    background: #999999;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    height: 16px;
    padding: 0 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    content: attr(data-title);
}
.wp-block.editor-post-title,
.wp-block.block-list-appender {
    border: none;
}
.wp-block.editor-post-title::after,
.wp-block.block-list-appender ::after {
    display: none;
}




/*  *********  Groups  **********  */

.wp-block.wp-block-group {
    border-color: #6666FF;
}
.wp-block.wp-block-group::after {
    background: #6666FF;
}