/**
 *  @package fuse-cms-framework
 *
 *  This is the CSS stylesheet for our containers.
 *
 *  Colours:
 *      Text:                       #3C434A
 *      Light Background:           #F5F5F5
 *      Grey Outline:               #C3C4C7
 *      Blue:                       #135E96
 *      Light Blue:                 #3791D9
 */




/*  ********************************************************************************  **

    Container Styles

**  ********************************************************************************  */

.fuse-forms-container {
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    position: relative;
}
.fuse-forms-container::after {
    display: block;
    content: "";
    clear: both;
}
.fuse-forms-container-inner {
    position: relative;
    z-index: 1;
}

.fuse-forms-container.fuse-forms-action-bar {
    padding: 10px;
    margin-top: 10px;
}

.fuse-forms-container-title {
    margin-top: 0;
}




/*  **********  Standard Panels  **********  */

.fuse-forms-panel {
    padding: 20px;
}
.fuse-forms-container .fuse-forms-container-title,
.fuse-forms-container .fuse-forms-container-description {
    padding: 20px;
    padding-bottom: 0;
    margin: 0 0 30px 0;
}

.fuse-forms-container .fuse-forms-container-title {
    padding: 0;
}
.fuse-forms-container-description p {
    margin-top: 0;
}




/*  **********  Tabbed Panels  **********  */

.fuse-forms-container.tabbed::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 180px;
    border-right: 1px solid #CCCCCC;
    background: #FAFAFA;
    content: "";
    z-index: 0;
}

.fuse-forms-container.tabbed .fuse-form-panel-tabs,
.fuse-forms-container.tabbed .fuse-form-panel-tabs li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.fuse-forms-container.tabbed .fuse-form-panel-tabs {
    float: left;
    width: 180px;
}
.fuse-forms-container.tabbed .fuse-form-panel-tabs li a {
    display: block;
    background: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    color: #3C434A;
    border-bottom: 1px solid #CCCCCC;
}
.fuse-forms-container.tabbed .fuse-form-panel-tabs li a:hover {
    background: #DFEDF9;
}
.fuse-forms-container.tabbed .fuse-form-panel-tabs li a.active,
.fuse-forms-container.tabbed .fuse-form-panel-tabs li a.active:hover {
    background: #3791D9;
    color: #FFFFFF;
}

.fuse-forms-container.tabbed .fuse-forms-panel {
    float: right;
    width: calc(100% - 181px);
    box-sizing: border-box;
}




/*  ********************************************************************************  **

    Field Styles

**  ********************************************************************************  */

/*  **********  Field Containers  **********  */

.fuse-forms-panel-field-container {
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #CCCCCC;
}
.fuse-forms-panel-field-container:first-of-type {
    padding-top: 0;
    border-top: none;
}
.fuse-forms-panel-field-container:last-of-type {
    padding-bottom: 0;
}

.fuse-form-panel-field-block {
    float: left;
    width: calc(100% - 50px);
}




/*  *********  Description  *********  */

.fuse-field-description {
    display: block;
    clear: both;
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
}




/*  **********  Labels  **********  */

.fuse-forms-panel-field-container::after {
    display: block;
    content: "";
    clear: both;
}

/*  Left  */
.fuse-forms-panel-field-container label {
    display: block;
    margin: 0 0 5px 0;
}
.fuse-forms-panel.label-position-left .fuse-forms-panel-field-container label {
    margin: 0;
    float: left;
    width: 180px;
    padding-right: 20px;
}
.fuse-forms-panel.label-position-left .fuse-form-panel-field-block {
    width: calc(100% - 50px - 200px);
}

/*  Hidden  */
.fuse-forms-panel.label-position-hidden .fuse-forms-panel-field-container label {
    display: none;
}




/*  **********  Text, Number, etc inputs  **********  */

.fuse-form-panel-field-block input[type=text],
.fuse-form-panel-field-block input[type=number],
.fuse-form-panel-field-block input[type=email],
.fuse-form-panel-field-block input[type=url] ,
.fuse-form-panel-field-block textarea.small {
    box-sizing: border-box;
    width: 50%;
}
.fuse-form-panel-field-block input[type=text].small,
.fuse-form-panel-field-block input[type=number].small,
.fuse-form-panel-field-block input[type=email].small,
.fuse-form-panel-field-block input[type=url].small {
    width: 25%;
}
.fuse-form-panel-field-block input[type=text].full,
.fuse-form-panel-field-block input[type=number].full,
.fuse-form-panel-field-block input[type=email].full,
.fuse-form-panel-field-block input[type=url].full,
.fuse-form-panel-field-block textarea {
    width: 99%;
}
.fuse-form-panel-field-block textarea {
    min-height: 100px;
}
.fuse-form-panel-field-block textarea.full {
    min-height: 200px;
}




/*  **********  Field Groups  *********  */

.fuse-field-group {
    display: grid;
    align-content: stretch;
    justify-content: start;
    align-items: start;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
    
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
  
}
.fuse-field-group.columns-2 {
    grid-template-columns: repeat(2, 1fr);
}
.fuse-field-group.columns-3 {
    grid-template-columns: repeat(3, 1fr);
}
.fuse-field-group.columns-4 {
    grid-template-columns: repeat(4, 1fr);
}
.fuse-field-group.columns-5 {
    grid-template-columns: repeat(5, 1fr);
}
.fuse-field-group.columns-6 {
    grid-template-columns: repeat(6, 1fr);
}
.fuse-field-group.columns-7 {
    grid-template-columns: repeat(7, 1fr);
}
.fuse-field-group.columns-8 {
    grid-template-columns: repeat(8, 1fr);
}

.fuse-field-group .fuse-field-group-column {
    display: block;
    width: 100%;
}
.fuse-field-group .fuse-field-group-column input,
.fuse-field-group .fuse-field-group-column textarea,
.fuse-field-group .fuse-field-group-column select {
    width: 100%;
}




/*  **********  Toggle Field  **********  */

.fuse-forms-field-toggle {
    border: 1px solid #C3C4C7;
    border-radius: 3px;
    padding: 3px;
    display: inline-block;
    min-width: 100px;
}
.fuse-forms-field-toggle::after {
    content: "";
    display: block;
    clear: both;
}
.fuse-forms-field-toggle ul,
.fuse-forms-field-toggle ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fuse-forms-field-toggle ul li {
    display: block;
    float: left;
    width: 50%;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #C3C4C7;
    cursor: pointer;
    background: transparent;
    transition: background 0.2s;
}
.fuse-forms-field-toggle ul li:hover {
    background: #F5F5F5;
}
.fuse-forms-field-toggle ul li:first-child {
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.fuse-forms-field-toggle ul li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.fuse-forms-field-toggle ul li.selected {
    color: #FFFFFF;
    background: #135E96;
}
.fuse-forms-field-toggle ul li.yes.selected {
    background: #3791D9;
}